#landing {
    width: 100vw;
    background:transparent !important
}

#profile-pic {
    height:50%;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    
}