#profile {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top:15%;

    height: 20%;
    width: auto;
    border: 5px solid #EEEEEE;
}

#main {
    position: absolute;
    top: 25%; 
    height:50vh;
}

#content {
    position: absolute;
    top: 40%;
    left: 10%;
    width: 80%;
}

h1 {
    color: #EEEEEE;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

p {
    color: #EEEEEE;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #222222;
}

a:hover {
    color: red;
}
